header {
    width: auto;
    background-color: yellow;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.header-text {
    vertical-align: middle;
}