main {
    width: auto;
    background-color: blue;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.reg-course {
    width: 400px;
    background-color: white;
    margin: 10px;
}

.major-column {
    width: 100px;
}

.credit-column {
    width: 40px;
}

.registration-column {
    width: 60px;
}
